# NoneBot 插件数据和缓存
data/
*.json
plugins/identify/data/
plugins/buaa_msm
plugins/pxchat
.env.prod
cache/
output.log

# Python 虚拟环境
.venv/

# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 数据库文件
*.db
*.sqlite3

#自用
plugins_todo_&_backup/
.idea/
rename_script.py
plan.txt