# NoneBot 插件数据和缓存
data/
*.json
plugins/poke_reply/config_files
plugins/poke_reply/image_files
plugins/poke_reply/text_files
plugins/identify/data/
plugins/buaa_msm
.env.prod

# Python 虚拟环境
.venv/

# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 数据库文件
*.db
*.sqlite3

#自用
plugins_todo_&_backup/
.idea/
